﻿header {
    background: #2c3e50;
    color: #fff;
}

.color1 {
    background: #f2f2f2;
    color: #333;
}

.color2 {
    background: #344954;
    color: #fff;
}

.color3 {
    background: #c0392b;
    color: #fff;
}

.color4 {
    background: #2c3e50;
    color: #fff;
}

p {
    padding: 15px;
    margin: 0;
}

h2 {
    margin-top: 0;
    padding: 10px 0 0 10px;
}

h3 {
    margin-top: 0;
    padding: 10px 0 0 10px;
}
   
.row {
    margin-left: 0;
    margin-right: 0;
}

.txt {
    padding-left: 10px;
}