.label {
    font-weight: normal;
}

.textwhite-backgrey {
    color: white;
    background-color: gray;
    vertical-align: middle;
    padding-top: 5px;
}

.textwhite-backblack {
    color: white;
    background-color: black;
    vertical-align: middle;
}

.textwhite-backdimgray {
    color: white;
    background-color: dimgrey;
    vertical-align: middle;
}

.textblack-backdarkgray {
    color: black;
    background-color: darkgray;
    vertical-align: middle;
}

.textblack-backlightgrey {
    color: black;
    background-color: lightgrey;
    vertical-align: middle;
}

.textblack-backcadetblue {
    color: black;
    background-color: cadetblue;
    padding-bottom: 5px;
}

.border-radius-4x1x10 {
    border: 1px solid;
    border-radius: 10px;
}


.border-radius-2x1x10 {
    border: 1px solid;
    border-radius: 10px 10px 0 0;
}
