﻿<div class="container">
    <div class="row textblack-backcadetblue text-center border-radius-4x1x10">
        <div class="col-md-1-12">
            <h2>Encuesta de Calidad de Servicios Aeroportuarios</h2>
        </div>
    </div>
    <br />
    <div class="row textwhite-backdimgray border-radius-4x1x10">
        <div class="col-md-12">
            <h3>Empleados</h3>
        </div>
    </div>
    <form>
        <div class="form-group">
            <div class="row">
                <!-- BARRA GRIS VACÍA-->
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="encuestador" >Encuestador</label>
                    <select class="form-control"  id="encuestador" name="encuestador"></select>
                </div>
                <div class="col-md-3">
                    <label for="fechaEnc">Fecha</label>
                    <input class="form-control" type="date" id="fechaEnc" name="fechaEnc" />
                </div>
                <div class="col-md-6">
                    <label for="aeropuerto">Aeropuerto</label>
                    <input class="form-control" type="text" id="aeropuerto" name="aeropuerto" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <label for="supervisor">Supervisor</label>
                    <select class="form-control" id="supervisor" name="supervisor"></select>
                </div>
                <div class="col-md-3">
                    <label for="horaSup">Hora</label>
                    <input class="form-control" type="time" id="horaSup" name="horaSup" />
                </div>
            </div>
        </div>
        <br />


        <div class="form-group">
            <div class="row textwhite-backgrey border-radius-4x1x10">
                    <div class="col-md-12">
                        <!-- FONDO GRIS -->
                        <label class="control-label">ENCUESTADO</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label for="sexo">Sexo</label>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="sexo_M">M</label>
                                <input type="radio" id="sexo_M" name="sexo" requiered value="M"></input>
                                <label for="sexo_F">F</label>
                                <input type="radio" id="sexo_F" name="sexo" requiered value="F"></input>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <label for="edad">Edad</label>
                        <input class="form-control" type="number" ng-model="edad" maxlength="2" min="0" max="99" id="edad" name="edad" />
                    </div>

                    <div class="col-md-6 col-md-offset-2">
                        <label for="nacionalidad">Nacionalidad</label>
                        <input class="form-control" type="text" id="nacionalidad" name="nacionalidad" />
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label for="lugarderesidencia">Lugar de residencia</label>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="localidad">Localidad</label>
                        <select class="form-control" id="localidad" name="localidad"></select>

                    </div>

                    <div class="col-md-6">
                        <label for="provincia">Provincia</label>
                        <select class="form-control" id="provincia" name="provincia"></select>
                    </div>
                </div>
            </div>

        <br />


        <div class="form-group">
            <div class="row textwhite-backgrey border-radius-4x1x10">
                <div class="col-md-12">
                    <!-- FONDO GRIS -->
                    <label class="control-label">ACCESIBILIDAD</label>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-12">
                    Modo de viaje hasta el aeropuerto <cite><small>(puede marcar más de uno)</small></cite>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-3">
                    <div class="check">
                        <input type="checkbox" name="auto" id="auto" value="auto"> Auto particular
                    </div>
                    <div class="check">
                        <input type="checkbox" name="moto" id="moto" value="moto"> Motocicleta / ciclomotor particular
                    </div>
                    <div class="check">
                        <input type="checkbox" name="taxi" id="taxi" value="taxi"> Taxi / Remis
                    </div>
                    <div class="check">
                        <input type="checkbox" name="charter" id="charter" value="charter"> Charter / Combi
                    </div>
                    <div class="check">
                        <input type="checkbox" name="bus" id="bus" value="bus"> Bus de la empresa
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="check">
                        <input type="checkbox" name="colectivo" id="colectivo" value="colectivo"> Colectivo
                    </div>
                    <div class="check">
                        <input type="checkbox" name="subte" id="subte" value="subte"> Subte
                    </div>
                    <div class="check">
                        <input type="checkbox" name="tren" id="tren" value="tren"> Tren
                    </div>
                    <div class="check">
                        <input type="checkbox" name="otros" id="otros" value="otros"> Otros (incluye bicicleta y a pie)
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-8">
                            Tiempo estimado de viaje <cite><small>(dato final provisto en minutos)</small></cite>
                        </div>
                        <div class="col-md-2">
                            <input type="number" class="form-control" maxlength="3" min="1" max="9999" id="tiempoViaje" name="tiempoViaje" />
                        </div>
                        <div class="col-md-2">
                            <input type="checkbox" name="nsncTiempo" id="nsncTiempo" value="nsncTiempo"> Ns/Nc
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            Costo total del viaje <cite><small>(en pesos)</small></cite>
                        </div>
                        <div class="col-md-2">
                            <input type="number" class="form-control" maxlength="3" min="1" max="9999" id="costoViaje" name="costoViaje" />
                        </div>
                        <div class="col-md-2">
                            <input type="checkbox" name="nsncCosto" id="nsncCosto" value="nsncCosto"> Ns/Nc
                        </div>tituloBlancoFondoGris
                    </div>
                </div>
            </div>

            <br />

            <div class="form-group">
                <div class="row border-radius-2x1x10 textwhite-backgrey">
                    <div class="col-md-12">
                        <!-- FONDO GRIS -->
                        <label class="control-label">CALIFICACIÓN DEL SERVICIO DE TRANSPORTE hasta el Aeropuerto</label>
                    </div>
                </div>
                <div class="row textblack-backlightgrey">
                    <div class="col-md-1 col-md-offset-4">
                        <center><small> Excelente </small></center>
                    </div>
                    <div class="col-md-1">
                        <center><small>Muy bueno</small></center>
                    </div>
                    <div class="col-md-1">
                        <center><small>Bueno</small></center>
                    </div>
                    <div class="col-md-1">
                        <center><small>Regular</small></center>
                    </div>
                    <div class="col-md-1">
                        <center><small>Malo</small></center>
                    </div>
                    <div class="col-md-1">
                        <center><small>Ns/Nc</small></center>
                    </div>
                    <div class="col-md-1">
                        <center><small>No</small></center>
                    </div>
                </div>
                <div class="row textblack-backlightgrey">
                    <div class="col-md-1 col-md-offset-4">
                        <center><small>5</small></center>
                    </div>
                    <div class="col-md-1">
                        <center><small>4</small></center>
                    </div>
                    <div class="col-md-1">
                        <center><small>3</small></center>
                    </div>
                    <div class="col-md-1">
                        <center><small>2</small></center>
                    </div>
                    <div class="col-md-1">
                        <center><small>1</small></center>
                    </div>
                    <div class="col-md-1">
                        <small></small>
                    </div>
                    <div class="col-md-1">
                        <center><small>corresponde</small></center>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        Servicio <cite><small>(disponibilidad, frecuencia, calidad)</small></cite>
                    </div>
                    <div class="col-md-1">
                        <center><input type="radio" name="servicio" id="servicio5" value="servicio5"></center>
                    </div>
                    <div class="col-md-1">
                        <center><input type="radio" name="servicio" id="servicio4" value="servicio4"></center>
                    </div>
                    <div class="col-md-1">
                        <center><input type="radio" name="servicio" id="servicio3" value="servicio3"></center>
                    </div>
                    <div class="col-md-1">
                        <center><input type="radio" name="servicio" id="servicio2" value="servicio2"></center>
                    </div>
                    <div class="col-md-1">
                        <center><input type="radio" name="servicio" id="servicio1" value="servicio1"></center>
                    </div>
                    <div class="col-md-1">
                        <center><input type="radio" name="servicio" id="servicioNsnc" value="servicioNsnc"></center>
                    </div>
                    <div class="col-md-1">
                        <center><input type="radio" name="servicio" id="servicioNoCorresponde" value="servicioNoCorresponde"></center>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        Precio <cite><small>(tarifa del viaje / día)</small></cite>
                    </div>
                    <div class="col-md-1">
                        <center><input type="radio" name="precio" id="precio5" value="precio5"></center>
                    </div>
                    <div class="col-md-1">
                        <center><input type="radio" name="precio" id="precio4" value="precio4"></center>
                    </div>
                    <div class="col-md-1">
                        <center><input type="radio" name="precio" id="precio3" value="precio3"></center>
                    </div>
                    <div class="col-md-1">
                        <center><input type="radio" name="precio" id="precio2" value="precio2"></center>
                    </div>
                    <div class="col-md-1">
                        <center><input type="radio" name="precio" id="precio1" value="precio1"></center>
                    </div>
                    <div class="col-md-1">
                        <center><input type="radio" name="precio" id="precioNsnc" value="precioNsnc"></center>
                    </div>
                    <div class="col-md-1">
                        <center><input type="radio" name="precio" id="precioNoCorresponde" value="precioNoCorresponde"></center>
                    </div>
                </div>
            </div>
            <br />


            <div class="form-group">
                <div class="row textwhite-backgrey border-radius-4x1x10">
                    <div class="col-md-12">
                        <!-- FONDO GRIS -->
                        <label class="control-label">PERFIL DEL TRABAJADOR</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="nombreEmpresa">Nombre de empresa / Organismo donde trabaja</label>
                        <input class="form-control" type="text" id="perfilDondeTrabaja" name="perfilDondeTrabaja" />
                    </div>
                    <div class="col-md-6">
                        <label for="lugarAeropuerto">Lugar del aeropuerto donde realiza su tarea</label>
                        <input class="form-control" type="text" id="perfilLugarTrabaja" name="perfilLugarTrabaja" />
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-6">
                            <cite><small>(terminal de pasajeros o carga, plataforma, hangares, aeroplanta, edificio corporativo, etc.)</small></cite>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <label for="quePuestoTiene" name="quePuestoTiene" id="quePuestoTiene" value="quePuestoTiene">¿Qué puesto tiene?</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Firmas comerciales<br />
                        <div class="radio">
                            <label>
                                <input type="radio" name="quePuestoTiene" id="quePuestoTiene" value="propietario">
                                Propietario
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="quePuestoTiene" id="quePuestoTiene" value="gerente">
                                Gerente
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="quePuestoTiene" id="quePuestoTiene" value="encargado">
                                Encargado
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="quePuestoTiene" id="quePuestoTiene" value="empleado">
                                Empleado
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        Organismos oficiales<br />
                        <div class="radio">
                            <label>
                                <input type="radio" name="quePuestoTiene" id="quePuestoTiene" value="jerarquico">
                                Personal jerárquico
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="quePuestoTiene" id="quePuestoTiene" value="noJerarquico">
                                Personal no jerárquico
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        Concesionario<br />
                        <div class="radio">
                            <label>
                                <input type="radio" name="quePuestoTiene" id="quePuestoTiene" value="propietario">
                                Propietario
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="quePuestoTiene" id="quePuestoTiene" value="gerente">
                                Gerente
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="quePuestoTiene" id="quePuestoTiene" value="encargado">
                                Encargado
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="quePuestoTiene" id="quePuestoTiene" value="empleado">
                                Empleado
                            </label>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <label for="perfilHor   asTrabajo">¿Cuántas horas trabaja por día?</label>
                        <input class="form-control" type="text" id="perfilHorasTrabajo" name="perfilHorasTrabajo" />
                    </div>
                    <div class="col-md-4">
                        <label for="perfilHorasTrabajoSemana">Cantidad de horas trabajada en la última semana</label>
                        <input class="form-control" type="text" id="perfilHorasTrabajoSemana" name="perfilHorasTrabajoSemana" />
                    </div>
                    <div class="col-md-4">
                        ¿Trabaja los fines de semana habitualmente?<br />
                        <div class="radio">
                            <label>
                                <input type="radio" name="perfilHorasFinDeSemana" id="perfilHorasFinDeSemanaSi" value="Si">
                                Si
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="perfilHorasFinDeSemana" id="perfilHorasFinDeSemanaNo" value="No">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row textwhite-backgrey border-radius-2x1x10">
                <div class="col-md-12">
                    <!-- FONDO GRIS -->
                    <label class="control-label">NIVEL DE SATISFACCIÓN</label>
                </div>
            </div>
            <div class="row textblack-backlightgrey">
                <div class="col-md-1 col-md-offset-5">
                    <center><small> Excelente </small></center>
                </div>
                <div class="col-md-1">
                    <center><small>Muy bueno</small></center>
                </div>
                <div class="col-md-1">
                    <center><small>Bueno</small></center>
                </div>
                <div class="col-md-1">
                    <center><small>Regular</small></center>
                </div>
                <div class="col-md-1">
                    <center><small>Malo</small></center>
                </div>
                <div class="col-md-1">
                    <center><small>Ns/Nc</small></center>
                </div>
                <div class="col-md-1">
                    <center><small>No</small></center>
                </div>
            </div>
            <div class="row textblack-backlightgrey">
                <div class="col-md-1 col-md-offset-5">
                    <center><small>5</small></center>
                </div>
                <div class="col-md-1">
                    <center><small>4</small></center>
                </div>
                <div class="col-md-1">
                    <center><small>3</small></center>
                </div>
                <div class="col-md-1">
                    <center><small>2</small></center>
                </div>
                <div class="col-md-1">
                    <center><small>1</small></center>
                </div>
                <div class="col-md-1">
                    <small></small>
                </div>
                <div class="col-md-1">
                    <center><small>corresponde</small></center>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">INSTALACIONES AEROPUERTARIAS</label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <u>Estacionamiento:</u> <cite><small>(sólo si llega al aeropuerto en vehículo o moto particular)</small></cite>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    Espacio disponible y calidad de la infraestructura
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="estacionamientoespacio" id="estacionamientoespacio5" value="estacionamientoespacio5"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="estacionamientoespacio" id="estacionamientoespacio4" value="estacionamientoespacio4"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="estacionamientoespacio" id="estacionamientoespacio3" value="estacionamientoespacio3"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="estacionamientoespacio" id="estacionamientoespacio2" value="estacionamientoespacio2"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="estacionamientoespacio" id="estacionamientoespacio1" value="estacionamientoespacio1"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="estacionamientoespacio" id="estacionamientoespacioNsnc" value="estacionamientoespacioNsnc"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="estacionamientoespacio" id="estacionamientoespacioNoCorresponde" value="estacionamiento   espacioNoCorresponde"></center>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    Precio
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="estacionamientoprecio" id="estacionamientoprecio5" value="estacionamientoprecio5"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="estacionamientoprecio" id="estacionamientoprecio4" value="estacionamientoprecio4"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="estacionamientoprecio" id="estacionamientoprecio3" value="estacionamientoprecio3"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="estacionamientoprecio" id="estacionamientoprecio2" value="estacionamientoprecio2"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="estacionamientoprecio" id="estacionamientoprecio1" value="estacionamientoprecio1"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="estacionamientoprecio" id="estacionamientoprecioNsnc" value="estacionamientoprecioNsnc"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="precio" id="precioNoCorresponde" value="precioNoCorresponde"></center>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    Ubicación
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="estacionamientoubicacion" id="estacionamientoubicacion5" value="estacionamientoubicacion5"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="estacionamientoubicacion" id="estacionamientoubicacion4" value="estacionamientoubicacion4"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="estacionamientoubicacion" id="estacionamientoubicacion3" value="estacionamientoubicacion3"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="estacionamientoubicacion" id="estacionamientoubicacion2" value="estacionamientoubicacion2"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="estacionamientoubicacion" id="estacionamientoubicacion1" value="estacionamientoubicacion1"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="estacionamientoubicacion" id="estacionamientoubicacionNsnc" value="estacionamientoubicacionNsnc"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="estacionamientoubicacion" id="estacionamientoubicacionNoCorresponde" value="estacionamientoubicacionNoCorresponde"></center>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <u>Baños:</u>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    Limpieza
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="banolimpieza" id="banolimpieza5" value="banolimpieza5"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="banolimpieza" id="banolimpieza4" value="banolimpieza4"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="banolimpieza" id="banolimpieza3" value="banolimpieza3"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="banolimpieza" id="banolimpieza2" value="banolimpieza2"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="banolimpieza" id="banolimpieza1" value="banolimpieza1"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="banolimpieza" id="banolimpiezaNsnc" value="banolimpiezaNsnc"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="banolimpieza" id="banolimpiezaNoCorresponde" value="banolimpiezaNoCorresponde"></center>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    Distancia <cite><small>(desde el lugar de trabajo)</small></cite>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="banodistancia" id="banodistancia5" value="banodistancia5"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="banodistancia" id="banodistancia4" value="banodistancia4"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="banodistancia" id="banodistancia3" value="banodistancia3"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="banodistancia" id="banodistancia2" value="banodistancia2"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="banodistancia" id="banodistancia1" value="banodistancia1"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="banodistancia" id="banodistanciaNsnc" value="banodistanciaNsnc"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="banodistancia" id="banodistanciaNoCorresponde" value="banodistanciaNoCorresponde"></center>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <u>Ambiente del aeropuerto:</u>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    Limpieza general del edificio
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambientelimpieza" id="ambientelimpieza5" value="ambientelimpieza5"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambientelimpieza" id="ambientelimpieza4" value="ambientelimpieza4"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambientelimpieza" id="ambientelimpieza3" value="ambientelimpieza3"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambientelimpieza" id="ambientelimpieza2" value="ambientelimpieza2"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambientelimpieza" id="ambientelimpieza1" value="ambientelimpieza1"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambientelimpieza" id="ambientelimpiezaNsnc" value="ambientelimpiezaNsnc"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambientelimpieza" id="ambientelimpiezaNoCorresponde" value="ambientelimpiezaNoCorresponde"></center>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    Climatización
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambienteclimatizacion" id="ambienteclimatizacion5" value="ambienteclimatizacion5"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambienteclimatizacion" id="ambienteclimatizacion4" value="ambienteclimatizacion4"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambienteclimatizacion" id="ambienteclimatizacion3" value="ambienteclimatizacion3"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambienteclimatizacion" id="ambienteclimatizacion2" value="ambienteclimatizacion2"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambienteclimatizacion" id="ambienteclimatizacion1" value="ambienteclimatizacion1"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambienteclimatizacion" id="ambienteclimatizacionNsnc" value="ambienteclimatizacionNsnc"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambienteclimatizacion" id="ambienteclimatizacionNoCorresponde" value="ambienteclimatizacionNoCorresponde"></center>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    Iluminación
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambienteiluminacion" id="ambienteiluminacion5" value="ambienteiluminacion5"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambienteiluminacion" id="ambienteiluminacion4" value="ambienteiluminacion4"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambienteiluminacion" id="ambienteiluminacion3" value="ambienteiluminacion3"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambienteiluminacion" id="ambienteiluminacion2" value="ambienteiluminacion2"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambienteiluminacion" id="ambienteiluminacion1" value="ambienteiluminacion1"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambienteiluminacion" id="ambienteiluminacionNsnc" value="ambienteiluminacionNsnc"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambienteiluminacion" id="ambienteiluminacionNoCorresponde" value="ambienteiluminacionNoCorresponde"></center>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    Seguridad en terminal
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambienteseguridad" id="ambienteseguridad5" value="ambienteseguridad5"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambienteseguridad" id="ambienteseguridad4" value="ambienteseguridad4"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambienteseguridad" id="ambienteseguridad3" value="ambienteseguridad3"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambienteseguridad" id="ambienteseguridad2" value="ambienteseguridad2"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambienteseguridad" id="ambienteseguridad1" value="ambienteseguridad1"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambienteseguridad" id="ambienteseguridadNsnc" value="ambienteseguridadNsnc"></center>
                </div>
                <div class="col-md-1">
                    <center><input type="radio" name="ambienteseguridad" id="ambienteseguridadNoCorresponde" value="ambienteseguridadNoCorresponde"></center>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                <u>Accesibilidad para personas con movilidad reducida:</u>
            </div>
            <div class="col-md-1 col-md-offset-1">
                <center><input type="radio" name="accesibilidad" id="accesibilidad5" value="accesibilidad5"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="accesibilidad" id="accesibilidad4" value="accesibilidad4"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="accesibilidad" id="accesibilidad3" value="accesibilidad3"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="accesibilidad" id="accesibilidad2" value="accesibilidad2"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="accesibilidad" id="accesibilidad1" value="accesibilidad1"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="accesibilidad" id="accesibilidadNsnc" value="accesibilidadNsnc"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="accesibilidad" id="accesibilidadNoCorresponde" value="accesibilidadNoCorresponde"></center>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-12">
                <label class="control-label">SERVICIOS COMERCIALES</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <u>Bar, Confitería, Restaurante:</u>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                Calidad de productos
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="barcalidad" id="barcalidad5" value="barcalidad5"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="barcalidad" id="barcalidad4" value="barcalidad4"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="barcalidad" id="barcalidad3" value="barcalidad3"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="barcalidad" id="barcalidad2" value="barcalidad2"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="barcalidad" id="barcalidad1" value="barcalidad1"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="barcalidad" id="barcalidadNsnc" value="barcalidadNsnc"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="barcalidad" id="barcalidadNoCorresponde" value="barcalidadNoCorresponde"></center>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                Precios
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="barprecio" id="barprecio5" value="barprecio5"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="barprecio" id="barprecio4" value="barprecio4"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="barprecio" id="barprecio3" value="barprecio3"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="barprecio" id="barprecio2" value="barprecio2"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="barprecio" id="barprecio1" value="barprecio1"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="barprecio" id="barprecioNsnc" value="barprecioNsnc"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="barprecio" id="barprecioNoCorresponde" value="barprecioNoCorresponde"></center>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                Atención
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="baratencion" id="baratencion5" value="baratencion5"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="baratencion" id="baratencion4" value="baratencion4"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="baratencion" id="baratencion3" value="baratencion3"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="baratencion" id="baratencion2" value="baratencion2"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="baratencion" id="baratencion1" value="baratencion1"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="baratencion" id="baratencionNsnc" value="baratencionNsnc"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="baratencion" id="baratencionNoCorresponde" value="baratencionNoCorresponde"></center>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <u>Tiendas comerciales y kioscos:</u>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                Calidad de productos
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="tiendacalidad" id="tiendacalidad5" value="tiendacalidad5"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="tiendacalidad" id="tiendacalidad4" value="tiendacalidad4"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="tiendacalidad" id="tiendacalidad3" value="tiendacalidad3"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="tiendacalidad" id="tiendacalidad2" value="tiendacalidad2"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="tiendacalidad" id="tiendacalidad1" value="tiendacalidad1"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="tiendacalidad" id="tiendacalidadNsnc" value="tiendacalidadNsnc"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="tiendacalidad" id="tiendacalidadNoCorresponde" value="tiendacalidadNoCorresponde"></center>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                Precios
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="tiendaprecio" id="tiendaprecio5" value="tiendaprecio5"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="tiendaprecio" id="tiendaprecio4" value="tiendaprecio4"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="tiendaprecio" id="tiendaprecio3" value="tiendaprecio3"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="tiendaprecio" id="tiendaprecio2" value="tiendaprecio2"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="tiendaprecio" id="tiendaprecio1" value="tiendaprecio1"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="tiendaprecio" id="tiendaprecioNsnc" value="tiendaprecioNsnc"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="tiendaprecio" id="tiendaprecioNoCorresponde" value="tiendaprecioNoCorresponde"></center>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                Atención
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="tiendaatencion" id="tiendaatencion5" value="tiendaatencion5"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="tiendaatencion" id="tiendaatencion4" value="tiendaatencion4"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="tiendaatencion" id="tiendaatencion3" value="tiendaatencion3"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="tiendaatencion" id="tiendaatencion2" value="tiendaatencion2"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="tiendaatencion" id="tiendaatencion1" value="tiendaatencion1"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="tiendaatencion" id="tiendaatencionNsnc" value="tiendaatencionNsnc"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="tiendaatencion" id="tiendaatencionNoCorresponde" value="tiendaatencionNoCorresponde"></center>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <u>Banco - Cajero automático:</u><cite><small>(disponibilidad / calidad)</small></cite>
            </div>
            <div class="col-md-1 col-md-offset-1">
                <center><input type="radio" name="banco" id="banco5" value="banco5"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="banco" id="banco4" value="banco4"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="banco" id="banco3" value="banco3"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="banco" id="banco2" value="banco2"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="banco" id="banco1" value="banco1"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="banco" id="bancoNsnc" value="bancoNsnc"></center>
            </div>
            <div class="col-md-1">
                <center><input type="radio" name="banco" id="bancoNoCorresponde" value="bancoNoCorresponde"></center>
            </div>
        </div>
        <br />
        <div class="row textwhite-backgrey border-radius-2x1x10">
            <div class="col-md-12">
                <label for="observaciones">OBSERVACIONES</label>
            </div>
            <!--<input class="form-control" type="text" id="observaciones" name="observaciones" />-->
            <textarea rows="4" cols="50" id="observaciones" name="observaciones" class="form-control"></textarea>
        </div>
        <br /><br />
    </form>
</div>